// COLORS
$primary-color: #36D1DC;
$secondary-color: #5B86E5;
$white-color: #fff;
$background-texture: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
$secondary-texture: url("https://www.transparenttextures.com/patterns/cubes.png");
$footer-texture: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
$dark-grey: #333333;
$dark-blue-text: #272341; // For Headings
// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;